<div class="row p-3">
    <div class="col-5">
        <form #registrationForm="ngForm">
            <p class="form-instructions">Please enter the following information to create your account:</p>
            <div class="row">
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" required minlength="3" maxlength="20"
                            [(ngModel)]="model.firstName" name="firstName">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" required minlength="3" maxlength="20"
                            [(ngModel)]="model.lastName" name="lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="mobile">Mobile</label>
                        <input type="tel" class="form-control" id="mobile" required pattern="[0][1][0-9]{9}"
                            minlength="9" maxlength="14" placeholder="01000000000" [(ngModel)]="model.mobile"
                            name="mobile">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            placeholder="example@xxx.com"
                            autocorrect="off" spellcheck="false"
                            [(ngModel)]="model.email" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" class="form-control" id="password" required minlength="8"
                            [(ngModel)]="model.password" name="password">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group required">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" required
                            [(ngModel)]="model.confirmPassword" name="confirmPassword">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row form-check-block">
                    <div class="col-3">
                        <label class="control-label req" for="gender">Gender</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control form-check-input input-radio" type="radio" value="female" required
                            [(ngModel)]="model.gender" name="gender">
                        <label for="female">Female</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control form-check-input input-radio" type="radio" value="male"
                            [(ngModel)]="model.gender" name="gender">
                        <label for="male">Male</label>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-4">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" required [(ngModel)]="model.country" name="country"
                        (ngModelChange)="changeSelectedCountry($event, country)">
                        <option [value]="country.name" *ngFor="let country of countryList">
                            {{country.name}}
                        </option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="gov">Governorate</label>
                    <select class="form-control" id="gov" required [(ngModel)]="model.gov" name="gov"></select>
                    <option [value]="governorate.name" *ngFor="let governorate of suitableGovernorateList"
                        (onSelectionChange)="changeSelectedGovernorate($event,governorate)">
                        {{governorate.name}}
                    </option>
                </div>
                <div class="col-4">
                    <label for="area">Area</label>
                    <select class="form-control" id="area" required [(ngModel)]="model.area" name="area"></select>
                    <option [value]="area.name" *ngFor="let area of suitableAreaList"
                        (onSelectionChange)="changeSelectedArea($event)">
                        {{area.name}}
                    </option>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="model.address" name="address">
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <label class="control-label req" for="accountTypeRadio">Tell us who you are</label>
                        </div>
                    </div>
                    <div class="row pl-4 pb-3">
                        <div class="col-4">
                            <input class="form-control form-check-input input-radio" type="radio"
                                value="lookingForServiceRadio" required [(ngModel)]="model.accountType"
                                name="accountType">
                            <label for="lookingForServiceRadio">Looking for a service</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control form-check-input input-radio" type="radio"
                                value="handworkerRadio" required [(ngModel)]="model.accountType" name="accountType">
                            <label for="handworkerRadio">Handworker</label>
                        </div>
                        <div class="col-5">
                            <input class="form-control form-check-input input-radio" type="radio" value="tradeRadio"
                                required [(ngModel)]="model.accountType" name="accountType">
                            <label for="tradeRadio">have a Shop/ Company</label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" title="register">Register</button>
        </form>
    </div>
</div>
{{model | json}}