
.regisrtation-background{
    padding: 0;
    margin: 0;
    /* background-color: var(--theme-color-rgb-black); */
    background-color: var(--theme-color-yellow);
    opacity:unset;
    width: 100%;
    /* opacity: 0.3; */
  }
form{
    display: block;
    width: 100%;
}
.form-instructions{
    /* font-weight: bold; */
    font-size: 1.3rem !important;
    font-family: sans-serif;
    color: var(--theme-color-white);
}
.form-group.required .control-label:after {
    color: var(--required-red-mark);;
    content:"*";
    font-weight: bold;
    display: inline;
    position: absolute;
}
.control-label{
    color: var(--theme-color-white);
}



.input-radio{
    height: 15px;
    width: 15px; 
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 5px;
}

.req:after{
    color: var(--required-red-mark);;
    content:"*";
    font-weight: bold;
    display: inline;
    position: absolute;
}
.required-input-error-msg{
    font-size: medium;
    color: var(--theme-color-red);
    padding-top: 0px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid var(--theme-color-red); /* red */
  }


.control-incontent{
    color: var(--theme-color-white);
    font-size: 0.93rem;
}




.regisrtation-form{
    border: none;
    background: var(--theme-color-rgb-black);
    /* border-top-right-radius: 25% 45%;
    border-bottom-right-radius: 25% 45%; */
    padding: 20px 80px 15px 30px;
    /* padding: 20px 10px 15px 30px; */

    width: 100vw;
}

.regisrtation-logo-background{
    background-color: var(--theme-color-white);
    margin: 70px 0px 70px -200px;
}
