.signUp-btn{
    /* font-weight: bold; */
    font-size: large;
}

.footer-img{
    width: 25px;
    height: 25px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 5px !important;
}

.footer{
    background-color: var(--theme-color-rgb-black);
}

.copyRight-div{
    background-color: var(--theme-color-white);
}
.copyRight-txt{
    font-size: x-large;
    text-decoration-color: var(--theme-color-black);
}
i{
    padding-right: 8px;
}
.fa-facebook-f{
    color: #3b5998;
}
.fa-youtube{
    color: #FF0000;
}
.fa-twitter{
    color: #00acee;
}
.fa-linkedin{
    color: #0e76a8 ;
}
.fa-whatsapp{
    color: #25D366 ;
}