<div class="row">
    <div class="col-12">
        <div class="p-2 footer text-white">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <div class="card-body">KMGN</div>
                        <div class="card-footer"></div>
                    </div>
                    <div class="col-3">
                        <div class="card-body">Get Started</div>
                        <div class="card-footer">get acces to full services and details
                            <div class="text-center pt-3">
                                <button class="col-6 btn btn-red-text-white signUp-btn" mat-button
                                    routerLink="/registration">
                                    sign up
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card-body">Contact Us</div>
                        <div class="card-footer">
                            <div class="row">info@kmgn.com</div>
                            <div class="row">
                                <img class="footer-img" src="../../assets/images/footer/facebook.png" alt="">
                                <img class="footer-img" src="../../assets/images/footer/twitter.png" alt="">
                                <img class="footer-img" src="../../assets/images/footer/linkedin.png" alt="">
                                <img class="footer-img" src="../../assets/images/footer/whatsapp.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2 copyRight-div">
            <div class="col-12 text-center py-1">
                <p class="h6 copyRight-txt">Copyright &copy; 2020, KMGN.com</p>
            </div>
        </div>
    </div>
</div>