<!-- <div class="row pt-5 mt-5">
    <div class="col-3 profile-avatar">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" class="img-cover">
    </div>
    <div class="col-9  profile-details">ddd</div>
</div> -->

<!-- <div class="row">
    <div class="card-container">
        <div class="upper-container">
            <div class="img-container">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" alt="">
            </div>
        </div>
        <div class="lower-container"></div>
    </div>
</div> -->

<div class="row divtwo">
    <div class="avatarimg col-4">
        <div class="img-avatar">
            <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" alt="">
        </div>

    </div>


    <div class="card-body col-8">
        <p class="h7 py-0">Name : {{userProfile?.name}}</p>
        <p class="h7 py-0">Mobile : {{userProfile?.mobile}}</p>
        <p class="h7 py-0">Email : {{userProfile?.userName}}</p>
    </div>
</div>