<p>specializations-small-boxes-slider works!</p>
<div class="col-12">
    <div class="row">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-1">chevron_left</mat-icon>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <app-specialization-small-boxes-skeleton ></app-specialization-small-boxes-skeleton>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="col-1">chevron_right</mat-icon>
    </div>
</div>