.searchnavbar {
  border-radius: 18px;
  display: flex;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.handworker-card {
  max-width: 100%;
  height: 350px;
  margin-left: 5rem !important;
  margin-right: 3rem !important;
  border-radius: 18px;
}

.handworker-avatar {
width: 2080px;
height: 280px;
display: block;
/* border-radius: 50%; */

}

.handworker-perv-work-slides {
  width: 100px;
  height: 100px;
  display: block;
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");

  background-size: cover;
}
