<div class="row m-0 login-background-img">
  <div class="col-4 m-0 p-5">
  </div>
  <div class="col-4 m-0 p-5">
    <div class="row">
      <!-- Reactive driven forms -->
      <mat-card class="col-12 text-center">
        <mat-card-content>
          <form [(formGroup)]="formA" (ngSubmit)="onSubmit()">
            <h2>Log In</h2>
            <mat-error *ngIf="loginInvalid">
              The username and password were not recognised
            </mat-error>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="username" required>
              <mat-error>
                Please provide a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button class="btn-dark-gray-text-white" mat-raised-button>Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row pl-5 mt-2">
      <h6 class="theme-color-light-gray pl-4 pr-2 pt-1" style="font-size: 15px;">Create New Account?</h6>
      <button class="pl-0 pt-0 theme-color-yellow" mat-button routerLink="/registration">sign up</button>
    </div>
  </div>
</div>