<div class="row m-0 login-background">
  <div class="col-4 m-0">
  </div>
  <div class="col-4 m-0">
    <div class="row mt-5">
      <!-- Reactive driven forms -->
      <mat-card class="col-12 text-center pt-0 pb-0">
        <mat-card-content class="row">
          <form [(formGroup)]="formA" (ngSubmit)="onSubmit()" class="col-12 text-center">
            <div class="row">
              <div class="col-12">
                <h2>Login</h2>
                <mat-error *ngIf="loginInvalid">
                  The username and password were not recognised
                </mat-error>
              </div>
            </div>
            <div class="row">
              <mat-form-field appearance="none" class="col-8 ml-4 mb-0">
                <mat-icon matPrefix>email</mat-icon>
                <input matInput type="email" placeholder="e-mail" formControlName="username" required>
                <mat-error>
                  Please provide a valid email
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="none" class="col-8 ml-4 mt-0">
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
                  required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" class="pl-3">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
            </div>
            <br>
            <div class="row">
                  <div class="col-1"></div>
                  <div class="col-8 pl-4">
                    <button mat-raised-button type="submit" class="btn">sign in</button>
                  </div>
                  <div class="col-3"></div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 pr-0 text-right">
        <h6 class="theme-color-light-gray pr-2 pt-2">Create New Account?</h6>
      </div>
      <div class="col-2 pl-0">
        <button class="pl-0 theme-color-yellow" mat-button routerLink="/registration">sign up</button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</div>