<div class="row m-0 register-background-img">
    <div class="col-12">

        <div class="row m-0 pt-3">
            <div class="col-1 m-0">
            </div>

            <div class="col-5 m-0">
                <div class="row mt-3">
                    <mat-card class="col-12 pt-2 px-15">
                        <mat-card-content class="row">
                            <!-- <form [(formGroup)]="registerForm" (ngSubmit)="onSubmit(accountType)" class="col-12"> -->
                            <form [(formGroup)]="registerForm" class="col-12"
                            (submit)="submitRegistrationForm()">
                                <div class="row pt-2">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <h2>Register</h2>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                                <div class="row pt-3 py-0">
                                    <mat-accordion class="col-12 mat-accordion" multi>
                                        <div class="row">
                                            <mat-expansion-panel class="col-12 m-0 p-0" [expanded]="accordionCurrentStep === 0"
                                                (opened)="setStep(0)" hideToggle>
                                                <!-- <mat-expansion-panel-header class="row">
                                                    <mat-panel-title class="col-9 px-0 py-3">                                                 
                                                        <p class="h5">Personal data</p>
                                                    </mat-panel-title>
                                                    <mat-panel-description class="col-3 px-0 py-3">
                                                        <mat-icon class="account-circle">account_circle</mat-icon>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header> -->
                                                <div class="row pt-3">
                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <input matInput placeholder="First Name"
                                                                formControlName="firstName" required
                                                                [(ngModel)]="firstNameElement"
                                                                (change)="onFirstNameChange($event)">

                                                            <mat-error>
                                                                Please provide your first name
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Last Name"
                                                                formControlName="lastName" required
                                                                [(ngModel)]="lastNameElement"
                                                                (change)="onLastNameChange($event)">

                                                            <mat-error>
                                                                Please provide your last name
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <input matInput type="mobile" placeholder="Mobile"
                                                                formControlName="mobile" required
                                                                [(ngModel)]="mobileElement"
                                                                (change)="onMobileChange($event)">
                                                            <mat-error>
                                                                Please provide a mobile
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row text-dark-gray pt-2">
                                                    <mat-label class="col-3 pr-0">Gender :</mat-label>
                                                    <mat-radio-group class="col-9 pl-0"
                                                    (change)="genderRadioChange($event)">
                                                        <div class="row">
                                                            <mat-radio-button class="col-3"
                                                            value="femaleRadio">
                                                            Female
                                                            </mat-radio-button>
                                                            <mat-radio-button class="col-3"
                                                            value="maleRadio">
                                                            Male
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="row pt-0">
                                                    <div class="col-6">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Email"
                                                            formControlName="email" required
                                                            [(ngModel)]="emailElement"
                                                            (change)="onEmailChange($event)">
                                                            <mat-error>
                                                                Please provide an email
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-6">
                                                        <mat-form-field>
                                                            <input matInput type="password" placeholder="Password"
                                                                formControlName="password" required
                                                                [(ngModel)]="passwordElement"
                                                                (change)="onPasswordChange($event)">
                                                            <mat-error>
                                                                Please provide a password
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <mat-label>Country</mat-label>
                                                            <mat-select formControlName="country" required>
                                                                <mat-option [value]="country.name"
                                                                    *ngFor="let country of countryList"
                                                                    (onSelectionChange)="changeSelectedCountry($event,country)">
                                                                    {{ country.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error
                                                                *ngIf="registerForm.controls['country'].hasError('required') && registerForm.controls['country'].pristine">
                                                                Please choose a country
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <mat-label>Governorate</mat-label>
                                                            <mat-select formControlName="governorate" required>
                                                                <mat-option [value]="governorate.name"
                                                                    *ngFor="let governorate of suitableGovernorateList"
                                                                    (onSelectionChange)="changeSelectedGovernorate($event,governorate)">
                                                                    {{ governorate.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error
                                                                *ngIf="registerForm.controls['governorate'].hasError('required') && registerForm.controls['governorate'].pristine">
                                                                Please choose a governorate
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-4">
                                                        <mat-form-field>
                                                            <mat-label>Area</mat-label>
                                                            <mat-select [(ngModel)]="selectedarea"
                                                                formControlName="area" required>
                                                                <mat-option [value]="area.name"
                                                                    *ngFor="let area of suitableAreaList"
                                                                    (onSelectionChange)="changeSelectedArea($event)">
                                                                    
                                                                    {{ area.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error
                                                                *ngIf="registerForm.controls['area'].hasError('required') && registerForm.controls['area'].pristine">
                                                                Please choose a area
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <mat-form-field class="col-12">
                                                        <input matInput type="locationName"
                                                            placeholder="Enter your exact location"
                                                            formControlName="locationName"
                                                            [(ngModel)]="exactLocationElement"
                                                            (change)="onExactLocationChange($event)">
                                                        <mat-error>
                                                            Please provide a location
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>

                                            </mat-expansion-panel>
                                        </div>

                                        <div class="row pt-3">
                                            <div class="col-12">
                                                <p class="h6 row">Tell us who you are</p>
                                                <mat-radio-group class="row m-0 pt-1 px-0"
                                                (change)="accountTypeRadioChange($event)">
                                                    <mat-radio-button class="col-4 m-0 py-0"
                                                        (click)="lookingForServiceRadioButton()"
                                                        value="lookingForServiceRadioButton">
                                                        Looking for a service
                                                    </mat-radio-button>
                                                    <mat-radio-button class="col-3 m-0 py-0"
                                                        (click)="handworkerRadioButton()" value="handworkerRadioButton">
                                                        Handworker
                                                    </mat-radio-button>
                                                    <mat-radio-button class="col-4 m-0 py-0"
                                                        (click)="TradeRadioButton()" value="TradeRadioButton">
                                                        have a Shop/ Company
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>

                                        <div class="row text-center my-2">
                                            <div class="col-4"></div>
                                            <div class="col-4 text-center">
                                                <button mat-raised-button *ngIf="!activateRegisterBtn" type="submit"
                                                    class="col btn-red-text-white center" disabled>Register</button>
                                                <button mat-raised-button *ngIf="activateRegisterBtn" type="submit"
                                                    class="col btn-red-text-white center">Register</button>
                                                <!-- <button mat-raised-button *ngIf="activateRegisterBtn || (specialization && (everyDay || SpecificDaysString) && (working24hrs || workingDayTime || workingNightTime))" type="submit"
                                                class="btn-red-text-white center">Register</button> -->
                                                <mat-error *ngIf="registerInValid">
                                                    The username and password and mobile were not recognised
                                                </mat-error>
                                            </div>
                                            <div class="col-4"></div>
                                        </div>
                                    </mat-accordion>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        </div>

    </div>
</div>