<section class="pt-5 pl-5">
    <div class="pt-5 pl-5">
        <div class="row">
            <div class="col-8">
                <div class="row p-2">
                    <!-- <div class="col-3 img-fluid d-block text-right">
                        <img [src]="client.avatar" class="profile-picture">
                    </div> -->
                    <div class="col-1"></div>
                    <div class="col-7">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <p class="col-6 h4 pl-3">{{userProfile?.name}}</p>
                                    <p class="col-6 text-right h6 pr-3">{{userProfile?.accountTypeName}}</p>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="userProfile">
                                <userdetails [userProfile]="userProfile"></userdetails>
                                <branches [userProfile]="userProfile"></branches>
                                <review [userProfile]="userProfile"></review>
                            </div>
                            <div class="card-footer">
                                <a routerLink="" class="h5">edit your profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="h5">Need a help?</p>
                                <button class="btn btn-sm btn-dark">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>