/* You can add global styles to this file, and also import other style files */


@import '~bootstrap\dist\css\bootstrap.css';


body{
    padding-top: 80px;
}
div{
    margin-top: 2px;
    margin-bottom: 2px;
}


/* Theme colors */

.theme-color-black{
    color: #000000;
}
.theme-color-dark-gray{
    color: #343a40;
}
.theme-color-light-gray{
    color: #b3b3b3;
}
.theme-color-yellow{
    color: #ffd11a;
}
.theme-color-red{
    color:#b30000;
}

/* Text Colors */

.text-dark-gray{
    color : #6c757d;
}

/* BTN Colors */
.btn-red-text-white{
    background-color: #b30000;
    color: #ffffff;
}
.btn-dark-gray-text-white{
    background-color: #6c757d;
    color: #ffffff;
}
.btn-light-gray-text-white{
    background-color: #b3b3b3;
    color: #ffffff;
}
.btn-yellow-text-white{
    background-color: #ffd11a;
    color: #ffffff;
}



