<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    

    <mainsearchnavbar></mainsearchnavbar>
</div> -->


<div class="row">
    <div class="col-12 px-0">
        <!-- <div class="row first-block">
            <div class="col-12">
                <div class="row h2">Need a help ?</div>
                <div class="row h4">Have a problem with your apartment? your car? your garden?</div>
                <div class="row h4">Need a handworker, but don't know who to call?</div>
                <div class="row h4">Need to buy some materials, but don't know where to look and the average of the
                    prices?</div>
                <div class="row h3">We are at your srevice</div>
                <div class="row h3">Pleased to make you satisfied</div>
            </div>
        </div> -->
        <div class="row first-block m-0">
            <div id="slider">
                <figure>
                    <img src="../../../assets/images/home/013.jpg" alt="">
                </figure>
                <figure>
                    <img src="../../../assets/images/home/009.jpg" alt="">
                </figure>
                <figure>
                    <img src="../../../assets/images/home/005.jpg" alt="">
                </figure>
                <figure>
                    <img src="../../../assets/images/home/003.jpg" alt="">
                </figure>
                <figure>
                    <img src="../../../assets/images/home/023.jpg" alt="">
                </figure>
            </div>
            <mainsearchnavbar class="m-5"></mainsearchnavbar>
        </div>
        <div class="row px-5 second-block">
            <div class="col-12">
                <div class="row pb-3">
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/excellency services.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Need a handworker, but don't know some nearby?</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can give you multiple choices for handworkers. And you can choice
                                whoever you want based on his location, rating, working hours, previous customers'
                                feedback.</div>
                        </div>
                    </div>
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/wallet.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Need to buy some materials, but don't know its average prices?</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can contact you with wholesalers and retailers, to know a
                                full-detailed
                                discription, and you can buy from any of them.</div>
                        </div>
                    </div>
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/day and night.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Have a problem, but it is too late or too early? Don't worry</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can let you know about handworkers working whenever you need.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/select.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Need a handworker, but don't know some nearby?</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can give you multiple choices for handworkers. And you can choice
                                whoever you want based on his location, rating, working hours, previous customers'
                                feedback.</div>
                        </div>
                    </div>
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/confusion.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Have a new appartment or want to re-decorate yours, don't know what to
                                do start with?</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can contact you with decoration agencies. OR can help you to find
                                a good handworker. Even can guide you to descover Interior and exterior home suppliers.
                            </div>
                        </div>
                    </div>
                    <div class="col-4 second-block-box">
                        <div class="row">
                            <img class="second-block-img" src="./../../../assets/images/shipped.png" alt="">
                        </div>
                        <div class="row py-3">
                            <div class="h6 pr-3">Need to buy some materials, but want it to be delivered?</div>
                            <div class="h5">We Can Help!</div>
                            <div class="h7 pr-5">KMGN can contact you with wholesalers and retailers, with identifying
                                the shipping possibility.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 py-4 third-block">التخصصات</div>
        <div><br><br></div>
        <div class="row px-5 py-4 fourth-block">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img class="fourth-block-img" src="./../../../assets/images/settings.png" alt="">
                        <h5 class="pl-4">All your Needs with KMGN</h5>
                    </div>
                    <div class="card-footer">
                        <h6>Search for any service you need, any related products you want to buy. And you will get
                            fully-detailed services and products.</h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img class="fourth-block-img" src="./../../../assets/images/review.png" alt="">
                        <h5 class="pl-4">Verified Customers' Feedback</h5>
                    </div>
                    <div class="card-footer">
                        <h6>The ratings and reviews of any handworker, shop or company are from customers who used their
                            services or bought from them.</h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img class="fourth-block-img" src="./../../../assets/images/customer.png" alt="">
                        <h5 class="pl-4">All we care about is YOU</h5>
                    </div>
                    <div class="card-footer">
                        <h6>All we care about is to serve you in the best way. Making you satisfied with all you get is
                            our work, our job, our goal.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-5 py-4 fifth-block">
            <div class="col-5">
                <div class="row">
                    <h5>Pick a nearby service :</h5>
                </div>
                <div class="row">
                    <mat-chip-list class="chip-list" cdkDropList cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="nearbyServicesChip($event)" selectable>
                        <mat-chip #c="matChip" class="chip-box" cdkDrag
                            *ngFor="let nearbyServicesChip of nearbyServicesChips" (click)="selectNearbyServicesChip(c)"
                            [value]="nearbyServicesChip">
                            {{nearbyServicesChip}}
                        </mat-chip>
                    </mat-chip-list>
                    {{model | json}}
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="row">
                    <h5>Discover available services in those areas :</h5>
                </div>
                <div class="row">
                    <mat-chip-list class="chip-list" cdkDropList cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="area($event)" selectable>
                        <mat-chip #c="matChip" class="chip-box" cdkDrag
                            *ngFor="let area of areas" (click)="selectAreaChip(c)"
                            [value]="area">
                            {{area}}
                        </mat-chip>
                    </mat-chip-list>
                    {{model | json}}
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
</div>